<div class="recipe-card">
  <a href="/{{ recipe.id }}">
    {% if recipe.image_paths %}
    <img src="/{{ recipe.id }}/thumbnail_{{ recipe.image_paths[0].name }}">
    {% else %}
    <div class="image-placeholder"></div>
    {% endif %}
  </a>
  <div class="recipe-data">
    <a href="/{{ recipe.id }}">
      <h3>{{ recipe.title }}</h3>
    </a>
    {% if recipe.data.tags %}
    <small class="tags">
        {% for tag in recipe.data.tags %}
        <a href="/t/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
    </small>
    {% endif %}
  </div>
</div>
